header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 8px 0;
	background: transparent;
	z-index: 10;
	height: 60px;
	background: #CAA984;
}

header.sticky {
	background: #CAA984;
}

header.sticky ul li a {
	color: #fff;
}
header.sticky ul li a::after {
	background-color: #fff;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	padding: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	font-weight: 500;
	transition: 0.6s;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
}

.banner {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(https://images.unsplash.com/photo-1535868463750-c78d9543614f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

header nav ul li a:hover::after,
header nav ul li a.active::after {
	/* border-bottom: 2px solid #fff; */
	width: 100%;
}
header nav ul li a::after {
	content: "";
	position: absolute;
	background: #CAA984;
	width: 0%;
	height: 2px;
	right: 0;
	bottom: 0;
	transition: 300ms;
}


.menuToggle {
	position: fixed;
	top: 5px;
	right: 0;
	width: 50px;
	height: 50px;
	background: url('../icons/menu.svg');
	z-index: 2;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: .6s;
	display: none;
}

/* header.sticky .menuToggle {
	filter: invert(1);
} */

.menuToggle.active {
	background: url('../icons/close-x1.svg');
	z-index: 3;
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	/* filter: invert(1); */
}

@media (max-width: 600px) {
	header {
		padding: 5px 100px;
		background: #fff;
	}

	.menuToggle {
		display: block;
		/* filter: invert(1); */
	}

	header nav {
		/*display: none;*/
		position: absolute;
		top: 50px;
		left: -125%;
		width: 100vw;
		height: 100vh;
		background: #fff;
		transition: .6s;
	}

	header ul li a {
		color: #000;
	}

	header nav.active {
		left: 0;
	}

	header nav ul {
		display: block;
		text-align: center;
		padding-right: 0;
	}

	header nav ul li a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
}