{% extends 'base.html' %}
{% load static %}

{% block stylesImports %}
  {% comment %} <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet" />
  <link href="{% static './speech-styles.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" /> {% endcomment %}

  <link href="{% static './speech-list-style.css' %}" rel="stylesheet" />
{% endblock %}

{% block javaScripImports %}
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script>
  <script src="{% static './speech-javaScript.js' %}"></script> {% endcomment %}

  {% comment %} <script>
    document.addEventListener('DOMContentLoaded', function () {
      const audio = document.getElementById('fc-media') // Replace with the actual ID of your audio element
      const lyricsContainer = document.getElementById('song-lyrics')
      let currentLyricIndex = 0
    
      // Retrieve the lyrics data as a JSON string
      const lyricsData = JSON.parse(document.getElementById('song-lyrics').getAttribute('data-lyrics'))
    
      audio.addEventListener('timeupdate', function () {
        const currentTime = audio.currentTime
    
        // Find the current lyrics based on the time
        while (currentLyricIndex < lyricsData.length - 1 && currentTime >= timeToSeconds(lyricsData[currentLyricIndex + 1].time)) {
          currentLyricIndex++
        }
    
        // Update the displayed lyrics
        lyricsContainer.innerText = lyricsData[currentLyricIndex].lyrics
      })
    
      function timeToSeconds(time) {
        const [minutes, seconds] = time.split(':').map(parseFloat)
        return minutes * 60 + seconds
      }
    })
  </script> {% endcomment %}
{% endblock %}

{% block content %}
  <div class="speeches-container">
    {% comment %}Filters{% endcomment %}
    <div class="filters-for-speech-list"></div>

    {% comment %}speech List{% endcomment %}
    <div class="speech-list-panel">

      {% for post in posts %} 
      {% comment %}! speech-card{% endcomment %}
      <a class="speech-card" href="{% url 'homePage:home' %}">
        <div class="speech-image">
          {% comment %} <img src="{% static 'Screenshot_2014-10-23-16-25-08.png' %}" alt="" /> {% endcomment %}
          <img src="{{post.image.url}}" alt="" />
        </div>

        <div class="speech-card-contet">
          <div class="speech-card-header">
            {% comment %} <h2>شب پنجم محرم ۱۴۰۴</h2> {% endcomment %}
            <h2>{{post.title}}</h2>
          </div>
          <p class="speech-card-description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          <div class="tags-styles">#محرم #دهه_محرم #محرم۱۴۰۴ #محرم_۱۴۰۴ #سخنرانی_محرم #مراسم_محرم #محرم_حسینی #محرم_ماه_خدا #هیئت #هیئت_آنلاین #مراسم_عزاداری #محرم_مجازی</div>
          <div class="speech-card-feedback">
            <span>تعداد بازدید: ۴۳۰۰</span>
            <span>تعداد لایک: 700</span>
            <span>تاریخ: 1404/04/12</span>
          </div>
        </div>
      </a>
      {% endfor %}

      <ul class="pagination">
        {% if posts.has_previous %}
          <li class="page-item">
            <a href="?page=1" class="page-link" aria-label="Next">اول</a>
          </li>
          <li class="page-item">
            <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous"><span aria-hidden="true"><span class="lnr lnr-chevron-left"></span></span></a>
          </li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
            <li class="page-item active">
              <a href="?page={{ i }}" class="page-link">{{ i }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="?page={{ i }}" class="page-link">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li class="page-item">
            <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next"><span aria-hidden="true"><span class="lnr lnr-chevron-right"></span></span></a>
          </li>
          <li class="page-item">
            <a href="?page={{ posts.paginator.num_pages }}" class="page-link" aria-label="Next">آخر</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% comment %} <div class="music-player">
    {% for item in speech_list_object %}
      <div class="cover">
        <img alt="" src="{{ item.image.url }}" />
      </div>

      <div class="titre">
        <h3>{{ item.title }}</h3>
      </div>

      <center>
        <a href="{% if speech_list_object.has_previous %}
            
            
            
            
            ?page={{ speech_list_object.previous_page_number }}
          {% endif %}">
          <i class="fa fa-step-backward fa-2x"></i>
        </a> &nbsp; &nbsp; &nbsp; <a href="{% if speech_list_object.has_next %}
            
            
            
            
            ?page={{ speech_list_object.next_page_number }}
          {% endif %}">
          <i class="fa fa-step-forward fa-2x"></i>
        </a>
      </center>

      <div class="lecteur">
        <audio class="fc-media" style="width: 100%;" id="fc-media">
          <source src="{% if item.audio_file %}
              {{ item.audio_file.url }}
            {% endif %}"
            type="audio/mp3" />
        </audio>
      </div>
    {% endfor %}
  </div> {% endcomment %}
{% endblock %}
