{% extends 'base.html' %}
{% load static %}

{% block stylesImports %}
  <!-- Swiper CSS -->
  {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
  <link rel="stylesheet" href="{% static 'homePage.css' %}" />
{% endblock %}

{% block javaScripImports %}
  <!-- Swiper JS -->
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> {% endcomment %}
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script type="module" src="{% static 'homePage.js' %}"></script>
{% endblock %}

{% block content %}
{% comment %}! Slider {% endcomment %}
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">اسلاید ۱</div>
      <div class="swiper-slide">اسلاید ۲</div>
      <div class="swiper-slide">اسلاید ۳</div>
    </div>

    <!-- pagination و navigation اختیاری‌اند -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  {% comment %}! گروه های فرهنگی {% endcomment %}
  <section class="cultural-groups-section">
    <div class="cultural-groups-style">
      {% for group in culturalGroups %}
        <a href="{% url 'speech:list' %}?cultural_group={{ group.slug }}">
          <img src="{{group.image.url}}" alt="{{group.title}}">
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
