.main-introduce  {
    display: flex;
    gap: 12px;
    margin-bottom: 42px;
    margin-top: 32px;
}

.main-description {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    width: 50%;
}

.main-description h1 {
    font-family: 'BTitr';
    font-size: 22px;
}
.main-description p {
    font-size: 17px;
    color: #373737;
}

.main-description .other-feature {
    display: flex;
    align-items: center;

}

.main-description .other-feature .icon {
    width: 25px;
    color: gray;
}
.main-description .other-feature .icon svg {
    width: 100%;
    height: 100%;
}
.main-description .other-feature span {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 4px;
}

.main-image {
    width: 600px;
    height: 380px;
}
.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

@media screen and (max-width: 780px) {
    .main-introduce {
        flex-direction: column;
    }
    .main-description {
        width: 100%;
        align-items: center;
        padding-left: 0;
    }
    .main-image {
        width: 100%;
    }
}

.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 8px;
}

.feature-card {
    display: flex;
    align-items: center;
    background: #F7F0E2;
    width: 260px;
    justify-content: center;
    height: 80px;
    border-radius: 14px;
    gap: 8px;
}

.feature-card .icon svg, .feature-card .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.feature-card span {
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .features {
        flex-wrap: wrap;
    }
    .feature-card {
        width: 48%;
    }
}



#transcript {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    border-radius: 20px;
    width: 100%;
    background-color: #F1FCF8;
    /* box-shadow: 0 4px 22px gray; */
    padding: 10px 16px;
}

#transcript h3 {
    width: 100%;
    margin-bottom: 4px;
    font-family: 'BTitr';
    font-size: 16px;
}

#transcript div {
    color: #373737;
    font-size: 17px;
}

#transcript .line.active {
    color: red;
    font-weight: bold;
}

.category-tags {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
}

.category, .tags {
    width: 50%;
}

.tags {
    padding-left: 16px;
}

.category ul, .tags ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 22px;
    margin-top: 8px;
}

/* ۱۲۸۵۳۸۵۳۶۵
۰۹۱۳۴۳۵۱۲۵۲ */




.category li, .tags li {
    margin-left: 30px;
    transition: 300ms;
}

.category li:hover , .tags li:hover {
    color: #c98600;
}

.category li a, .tags li a{
    text-decoration: none;
    color: #373737;
    transition: 300ms;
    margin-right: -5px;
}

.category li a:hover, .tags li a:hover {
    color: #c98600;
}

.category .cat-head, .tags .tag-head {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 6px;
    
}

.category .cat-head span, .tags .tag-head span {
    font-family: 'BTitr';
}

.category .cat-head::after, .tags .tag-head::after {
    content: '';
    flex-grow: 1;
    display: block;
    height: 4px;
    background-color: #f7f0e2;
}

.category .cat-head svg, .tags .tag-head svg{
    width: 30px;
    color: #192d2f;
}


.audio-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
}

.audio-player {
    width: 100%;
    height: 70px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    font-family: sans-serif;
    direction: ltr;
}

.ap-left {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 30px;
}

.ap-btn {
    width: 34px;
    height: 34px;
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.ap-btn:hover {
    opacity: 0.7;
}

.ap-progress-container {
    width: 100%;
    background: #1b1b1b;
    padding: 8px 20px 20px;
    direction: ltr;
}
/* 
#ap-progress {
    width: 100%;
    appearance: none;
    height: 6px;
    border-radius: 4px;
    background: #666;
    outline: none;
}

#ap-progress::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #f1c40f;
    cursor: pointer;
} */

 #ap-bar {
    position: relative;
    width: 100%;
    height: 6px;
    background: #666;
    border-radius: 4px;
    cursor: pointer;
}

#ap-bar-fill {
    position: absolute;
    height: 100%;
    width: 0%;
    background: #f1c40f;
    border-radius: 4px;
}

#ap-bar-thumb {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    background: #f1c40f;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* مهم */
}

#ap-tooltip {
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -120%);
    white-space: nowrap;
    transition: opacity 0.1s ease;
}

.ap-right {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 14px;
    color: #ccc;
}


@media screen and (max-width: 780px) {
    .category-tags {
        flex-direction: column;
    }

    .tags {
        padding-left: 0;
    }

    .category, .tags {
        width: 100%;
    }
}